@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@media screen and (max-width: 640px) {
  .slider_content {
    display: none;
  }
}
.l-stageTemplate-banner.MegaMillions {
  /*background: linear-gradient(#333796,#CF8486);*/
  background-image: -webkit-gradient(
    linear,
    left top,
    right top,
    from(#333796),
    to(#cf8486)
  );
  background-image: linear-gradient(90deg, #333796 0, #cf8486);
  background-repeat: repeat-x;
}
.l-stageTemplate-banner.SuperEnalotto {
  /*background: linear-gradient(#FF720E,#FFE9C2);*/
  background-image: -webkit-gradient(
    linear,
    left top,
    right top,
    from(#ff720e),
    to(#ffe9c2)
  );
  background-image: linear-gradient(90deg, #ff720e 0, #ffe9c2);
  background-repeat: repeat-x;
}
.l-stageTemplate-banner.EuroMillions {
  /*background: linear-gradient(#093D81,#FDBF3A);*/
  background-image: -webkit-gradient(
    linear,
    left top,
    right top,
    from(#093d81),
    to(#fdbf3a)
  );
  background-image: linear-gradient(90deg, #093d81 0, #fdbf3a);
  background-repeat: repeat-x;
}
.l-stageTemplate-banner.PowerBall {
  /*background: linear-gradient(#FC162D,#FEDADD);*/
  background-image: -webkit-gradient(
    linear,
    left top,
    right top,
    from(#fc162d),
    to(#fedadd)
  );
  background-image: linear-gradient(90deg, #fc162d 0, #fedadd);
  background-repeat: repeat-x;
}
.l-stageTemplate-banner.ElGordo {
  /*background: linear-gradient(#508AC2,#C30000);*/
  background-image: -webkit-gradient(
    linear,
    left top,
    right top,
    from(#508ac2),
    to(#c30000)
  );
  background-image: linear-gradient(90deg, #508ac2 0, #c30000);
  background-repeat: repeat-x;
}
.l-stageTemplate-banner.LaPrimitiva {
  /*background: linear-gradient(#AD15B6,#F6E6F9);*/
  background-image: -webkit-gradient(
    linear,
    left top,
    right top,
    from(#ad15b6),
    to(#f6e6f9)
  );
  background-image: linear-gradient(90deg, #ad15b6 0, #f6e6f9);
  background-repeat: repeat-x;
}
.l-stageTemplate-banner.EuroJackpot {
  /*background: linear-gradient(#128296,#A9FBF7);*/
  background-image: -webkit-gradient(
    linear,
    left top,
    right top,
    from(#128296),
    to(#a9fbf7)
  );
  background-image: linear-gradient(90deg, #128296 0, #a9fbf7);
  background-repeat: repeat-x;
}
.l-stageTemplate-banner.Lotto649 {
  /*background: linear-gradient(#474FA7,#D33C3E);*/
  background-image: -webkit-gradient(
    linear,
    left top,
    right top,
    from(#474fa7),
    to(#d33c3e)
  );
  background-image: linear-gradient(90deg, #474fa7 0, #d33c3e);
  background-repeat: repeat-x;
}
.l-stageTemplate-banner.NewYorkLotto {
  /*background: linear-gradient(#712847,#5C51A7);*/
  background-image: -webkit-gradient(
    linear,
    left top,
    right top,
    from(#712847),
    to(#5c51a7)
  );
  background-image: linear-gradient(90deg, #5c51a7 0, #5c51a7);
  background-repeat: repeat-x;
}
.l-stageTemplate-banner.OzLotto {
  /*background: linear-gradient(#7DC929,#F5F02B);*/
  background-image: -webkit-gradient(
    linear,
    left top,
    right top,
    from(#7dc929),
    to(#f5f02b)
  );
  background-image: linear-gradient(90deg, #7dc929 0, #f5f02b);
  background-repeat: repeat-x;
}
.l-stageTemplate-banner.UkLotto {
  /*background: linear-gradient(#B12AB3,#9AA8A1);*/
  background-image: -webkit-gradient(
    linear,
    left top,
    right top,
    from(#b12ab3),
    to(#9aa8a1)
  );
  background-image: linear-gradient(90deg, #b12ab3 0, #9aa8a1);
  background-repeat: repeat-x;
}
.l-stageTemplate-banner.BonoLoto {
  /* background: linear-gradient(#4AA5BE,#AADFEC);*/
  background-image: -webkit-gradient(
    linear,
    left top,
    right top,
    from(#4aa5be),
    to(#aadfec)
  );
  background-image: linear-gradient(90deg, #aadfec 0, #aadfec);
  background-repeat: repeat-x;
}
@media only screen and (min-width: 320px) {
  .l-stageTemplate-banner {
    padding: 21px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    border-radius: 0;
    min-height: 140px;
    height: 140px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
  }
}
.l-stageTemplate-banner {
  padding: 14px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 100%;
  -webkit-align-self: flex-end;
  -ms-flex-item-align: end;
  align-self: flex-end;
  background-color: #fff;
  position: relative;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
@media only screen and (min-width: 320px) {
  .l-stageTemplate-banner-iconContainer {
    top: -60px;
    padding-top: 0;
    height: 80px;
    top: 0;
    position: static;
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    width: auto;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 14px;
  }
}
.l-stageTemplate-banner-iconContainer {
  padding: 0px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  top: 33px;
  width: 100%;
}
@media only screen and (min-width: 320px) {
  .l-stageTemplate-banner-iconContainer-icon {
    width: 80px;
    height: 80px;
    margin-right: 7px;
  }
}
.l-stageTemplate-banner-iconContainer-icon {
  margin: 0 7px 0 0;
  padding: 0;
  width: 95px;
  height: 105px;
}
@media only screen and (min-width: 320px) {
  .l-stageTemplate-banner-jackpot {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    -webkit-align-self: stretch;
    -ms-flex-item-align: stretch;
    align-self: stretch;
    padding-bottom: 0;
    padding-top: 0;
    height: 90px;
    margin-top: auto;
    margin-bottom: auto;
  }
}
.l-stageTemplate-banner-jackpot {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  align-self: center;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  text-transform: none;
  color: #fff;
  padding: 49px 49px 7px;
}
.l-stageTemplate-banner-jackpot-currency {
  color: #ffffff;
}
@media only screen and (min-width: 320px) {
  .l-stageTemplate-banner-jackpot-currency {
    line-height: 60px;
    height: 60px;
  }
}
.l-stageTemplate-banner-jackpot-currency {
  -webkit-align-self: flex-end;
  -ms-flex-item-align: end;
  align-self: flex-end;
  line-height: 16px;
}
@media only screen and (min-width: 320px) {
  .l-stageTemplate-banner-jackpot-currency {
    margin-left: 0;
    margin-right: 0;
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    font-weight: 900;
    font-size: 40px;
    -webkit-box-align: baseline;
    -webkit-align-items: baseline;
    -ms-flex-align: baseline;
    align-items: baseline;
    vertical-align: baseline;
    -webkit-align-self: flex-end;
    -ms-flex-item-align: end;
    align-self: flex-end;
  }
}
.l-stageTemplate-banner-jackpot-currency {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-weight: 900;
  -webkit-box-align: baseline;
  -webkit-align-items: baseline;
  -ms-flex-align: baseline;
  align-items: baseline;
  vertical-align: baseline;
  font-size: 40px;
  margin: auto 1.75px 0;
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-align-self: flex-end;
  -ms-flex-item-align: end;
  align-self: flex-end;
  color: #fff;
}
@media only screen and (min-width: 320px) {
  .l-stageTemplate-banner-jackpot-amount {
    margin-left: 7px;
  }
}
@media only screen and (min-width: 320px) {
  .l-stageTemplate-banner-jackpot-amount {
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    font-weight: 900;
    font-size: 40px;
    -webkit-box-align: baseline;
    -webkit-align-items: baseline;
    -ms-flex-align: baseline;
    align-items: baseline;
    vertical-align: baseline;
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
    -ms-flex-align: end;
    align-items: flex-end;
    height: 80px;
    line-height: 80px;
  }
}
.l-stageTemplate-banner-jackpot-amount {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-weight: 900;
  -webkit-box-align: baseline;
  -webkit-align-items: baseline;
  -ms-flex-align: baseline;
  align-items: baseline;
  vertical-align: baseline;
  font-size: 20px;
  margin: auto 0 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-self: stretch;
  -ms-flex-item-align: stretch;
  align-self: stretch;
  color: #fff;
  padding-left: 0;
  padding-right: 0;
  line-height: 25px;
}
.l-stageTemplate-banner-jackpot-amount strong {
  font-weight: 900 !important;
}
@media only screen and (min-width: 320px) {
  .l-stageTemplate-banner-jackpot-amount label,
  .l-stageTemplate-banner-jackpot-amount strong {
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    font-weight: 900;
    font-size: 80px;
  }
}
@media only screen and (min-width: 320px) {
  .l-stageTemplate-banner-jackpot-million {
    margin-left: 7px;
    height: 80px;
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
    -ms-flex-align: end;
    align-items: flex-end;
  }
}
.l-stageTemplate-banner-jackpot-million {
  margin: auto auto 0 2px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-align-self: stretch;
  -ms-flex-item-align: stretch;
  align-self: stretch;
  text-transform: none;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
@media only screen and (min-width: 320px) {
  .l-stageTemplate-banner-jackpot-pitch {
    font-size: 14px;
    line-height: 21px;
    font-weight: 200;
    color: #012406;
    margin-bottom: 21px;
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    font-weight: 500;
    position: static;
    padding: 0;
    margin: 0 0 -7px;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    line-height: 20px;
    height: 20px;
    min-height: 20px;
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
    -ms-flex-align: end;
    align-items: flex-end;
    max-height: 20px;
    text-align: left;
  }
}
.l-stageTemplate-banner-jackpot-pitch {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  font-size: 12px;
  line-height: 18px;
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-weight: 700;
  color: #012406;
  line-height: 16px;
  font-size: 11px;
  text-transform: none;
  margin-top: 0;
  height: 38.5px;
  width: 100%;
  position: absolute;
  top: 0;
  padding-top: 35px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: right;
}
.l-crmStage-EM .l-stageTemplate-banner-jackpot-translation,
.l-crmStage-EM .l-stageTemplate-banner-jackpot-currency {
  color: #ffffff;
}
@media only screen and (min-width: 320px) {
  .l-stageTemplate-banner-jackpot-translation {
    line-height: 60px;
    height: 60px;
  }
}
.l-stageTemplate-banner-jackpot-translation {
  -webkit-align-self: flex-end;
  -ms-flex-item-align: end;
  align-self: flex-end;
  line-height: 16px;
}
@media only screen and (min-width: 320px) {
  .l-stageTemplate-banner-jackpot-translation {
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    font-weight: 900;
    font-size: 40px;
    -webkit-box-align: baseline;
    -webkit-align-items: baseline;
    -ms-flex-align: baseline;
    align-items: baseline;
    vertical-align: baseline;
    color: #fff;
  }
}
.l-stageTemplate-banner-jackpot-translation {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-weight: 900;
  -webkit-box-align: baseline;
  -webkit-align-items: baseline;
  -ms-flex-align: baseline;
  align-items: baseline;
  vertical-align: baseline;
  font-size: 30px;
  margin-bottom: 0;
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  text-align: left;
  color: #fff;
  -webkit-align-self: flex-end;
  -ms-flex-item-align: end;
  align-self: flex-end;
}
@media only screen and (min-width: 320px) {
  .l-stageTemplate-banner-ctaWrapper {
    padding: 0;
    -webkit-align-self: stretch;
    -ms-flex-item-align: stretch;
    align-self: stretch;
    height: 100%;
    margin-top: auto;
    margin-bottom: auto;
    position: relative;
  }
}
.l-stageTemplate-banner-ctaWrapper {
  padding: 7px 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  align-self: center;
}
@media screen and (min-width: 768px) {
  .l-stageTemplate-banner-ctaWrapper-pitch {
    color: #ffffff;
  }
}
@media screen and (min-width: 768px) {
  .l-stageTemplate-banner-ctaWrapper-pitch {
    color: #ffffff;
  }
}
.l-stageTemplate-banner-ctaWrapper-pitch {
  color: #ffffff;
}
@media only screen and (min-width: 320px) {
  .l-stageTemplate-banner-ctaWrapper-pitch {
    height: auto;
    width: auto;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    font-size: 14px;
    line-height: 21px;
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    font-weight: 200;
    color: #012406;
    margin-bottom: 21px;
    -webkit-align-self: flex-end;
    -ms-flex-item-align: end;
    align-self: flex-end;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    padding-bottom: 7px;
    padding-top: 0;
    margin-bottom: 0;
    text-align: right;
  }
}
.l-stageTemplate-banner-ctaWrapper-pitch {
  display: block;
  padding: 0 0 7px;
  width: 100%;
  font-weight: bold;
}
.l-stageTemplate-banner-ctaWrapper .btn:visited {
  color: #fff;
}
@media only screen and (min-width: 320px) {
  .l-stageTemplate-banner-ctaWrapper .btn {
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    align-self: center;
    padding: 2px 35px 0;
    font-size: 17px;
    height: 47px;
    margin: 0 0 0 auto;
  }
}
.l-stageTemplate-banner-ctaWrapper .btn {
  font-size: 18px;
  white-space: nowrap;
  color: #fff;
  padding: 10px;
  background: #13d19c;
  border-color: #13d19c;
  border-radius: 5px;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  transition: 0.3s;
  margin-right: 10px;
  text-align: center;
  min-width: 12rem;
  font-weight: bold;
}
.l-stageTemplate-banner-ctaWrapper .btn:hover {
  background: #8bc53f;
  border-color: #8bc53f;
}
/*************************/

.owl-carousel {
  width: 100%;
}
.slide.MegaMillions.track {
  background: linear-gradient(#333796, #cf8486);
}
.slide.SuperEnalotto.track {
  background: linear-gradient(#ff720e, #ffe9c2);
}
.slide.EuroMillions.track {
  background: linear-gradient(#093d81, #fdbf3a);
}
.slide.PowerBall.track {
  background: linear-gradient(#fc162d, #fedadd);
}
.slide.ElGordo.track {
  background: linear-gradient(#508ac2, #c30000);
}
.slide.LaPrimitiva.track {
  background: linear-gradient(#ad15b6, #f6e6f9);
}
.slide.EuroJackpot.track {
  background: linear-gradient(#128296, #a9fbf7);
}
.slide.Lotto649.track {
  background: linear-gradient(#474fa7, #d33c3e);
}
.slide.NewYorkLotto.track {
  background: linear-gradient(#712847, #5c51a7);
}
.slide.OzLotto.track {
  background: linear-gradient(#7dc929, #f5f02b);
}
.slide.UkLotto.track {
  background: linear-gradient(#b12ab3, #9aa8a1);
}
.slide.BonoLoto.track {
  background: linear-gradient(#4aa5be, #aadfec);
}
.lotto-owl-slider .slide {
  width: 90%;
  margin: 0px 0px 0px 20px;
  padding: 0;
  overflow: hidden;
  height: auto;
  background-image: none;
  cursor: default !important;
  float: left;
}
.lotto-owl-slider .mainbox .teaserBox {
  color: #0c2e61 !important;
}
.lotto-owl-slider .teaserBox {
  box-shadow: none;
  height: auto;
  position: relative;
  border-radius: 3px 3px 0 0;
  border-bottom: 1px solid #ddd;
}
.lotto-owl-slider .teaserBox:before {
  border-radius: 100px 100px 100px 100px/10px 10px 10px 10px;
  bottom: 15px;
  box-shadow: 0 15px 5px rgba(0, 0, 0, 0.7);
  content: "";
  height: 20px;
  left: 5%;
  max-width: 300px;
  position: absolute;
  width: 90%;
  z-index: -1;
}
.lotto-owl-slider .teaserBox .content {
  height: 115px;
}
.lotto-owl-slider .lottoLabel {
  display: block;
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-size: 24px;
  font-weight: 400;
  height: 50px;
  line-height: 26px; /* text-shadow: 0 -1px 0 #333; */
  padding: 10px 0 0 10px;
  width: 200px;
  color: #ffffff !important;
}
.lotto-owl-slider .teaserBox .jackpot {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-size: 27px;
  line-height: 50px;
  padding-left: 5px;
  padding-top: 0;
  color: #ffffff;
  font-weight: bold;
}
/*.lotto-owl-slider  .teaserBox .jackpot span:last-of-type {
font-size: 36px;
margin-right: 4px;
}*/
.lotto-owl-slider .teaserBox .jackpot .amount {
  margin-left: 5px;
}
.lotto-owl-slider .teaserBox .footer {
  background: linear-gradient(90deg, #eee, #fff, #eee);
  height: 50px;
  position: relative;
}
.lotto-owl-slider .teaserBox .footer .countdown,
.startTeaserCol .teaserBox .footer .euroEquivalent {
  bottom: 14px; /*color: #999;*/
  color: #0c2e61;
  font-size: 13px;
  font-weight: 700;
  left: 10px;
  line-height: 20px;
  position: absolute;
  text-shadow: 0 1px 0 #fff, 0 1px 0 #fff, 0 1px 0 #fff;
}
.iHourglass {
  font-style: normal;
}
.lotto-owl-slider .teaserBox .footer .countdown:before,
.startTeaserCol .teaserBox .footer .euroEquivalent:before {
  font-size: 24px;
  margin-right: 6px;
  position: relative;
  top: 2px;
}
.iHourglass:before {
  content: "\0057";
}
/*.i:before, i:before {
    font-family: Icons;
    font-weight: 400;
    font-size: 1.3em;
    position: relative;
    text-align: center;
    line-height: normal;
}*/
.button.goOn {
  position: absolute;
  bottom: 6px;
  right: 12px;
}
.button.goOn {
  display: inline-block;
  cursor: pointer;
  height: 36px;
  background-color: #13d19c;
  color: #fff;
  font-family: Arial, sans-serif;
  font-weight: 700;
  font-size: 14px;
  text-decoration: none;
  text-align: center;
  text-shadow: 1px 1px 0 #8bc53f;
  padding: 0 12px;
  border: 0;
  border-radius: 5px;
  vertical-align: bottom;
  box-sizing: border-box;
  line-height: 34px;
  padding-top: 0;
  padding-bottom: 2px;
  box-shadow: inset 0 -4px 0 -2px #8bc53f;
  background-size: 100%; /*background-image: linear-gradient(#c3dc41,#97bd00);*/
}
a.button.goOn:hover {
  background: #8bc53f;
  box-shadow: none;
  text-shadow: none;
  transition: all ease-in-out 0.2s;
}
.all .button.arrow:after,
.all button.arrow:after {
  font-family: Icons;
  content: "\003e";
  font-size: 11px;
  padding-left: 6px;
}
/*--bikram---*/
.wrap.news-section-new {
  width: 100%;
  float: left;
  margin-bottom: 50px;
}
.wrap.news-section-new .news {
  width: 1000px;
  margin: 0 auto;
}
.footer_down {
  float: left;
}
.footer_part1 {
  margin: 0;
  min-height: 35px;
  text-align: center;
  width: 100%;
  display: flex;
  justify-content: center;
}
.footer_part2 {
  float: left;
}
.footer_part3 {
  width: 100%;
  float: left;
}
.lotteryresultslist-new li.block .hadding .name,
.lotteryresultslist-new li.block .datenum {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}

.lotto-results-section .more-result-link {
  -webkit-box-shadow: 0 10px 16px rgb(19 209 156 / 16%),
    0 4px 6px rgb(0 0 0 / 6%);
  box-shadow: 0 10px 16px rgb(19 209 156 / 16%), 0 4px 6px rgb(0 0 0 / 6%);
  border-radius: 5px;
  font-size: 22px !important;
  line-height: 26px !important;
  color: #fff !important;
  padding: 16px 0 !important;
  width: 100% !important;
  border: 0 !important;
  text-align: center;
  margin-top: 30px !important;
  display: block;
  background: #13d19c;
}

.playgroup-result h1 {
  color: #0169b2;
  padding: 10px 0 10px 0px;
  margin-bottom: 10px;
  font-size: 36px;
  line-height: 36px;
}
